<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimes.addonexample">

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- required to interact w/ Suntimes provider -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlarmPickerActivity">
            <meta-data android:name="SuntimesEventPickerTitle" android:value="Addon Event Picker" />
            <intent-filter>
                <action android:name="suntimes.action.PICK_EVENT" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
        </activity>

        <activity android:name=".DismissChallengeActivity">
            <meta-data android:name="SuntimesDismissChallengeTitle" android:value="Addon Alarm Challenge" />
            <meta-data android:name="SuntimesDismissChallengeID" android:value="9000" />
            <intent-filter>
                <action android:name="suntimes.action.DISMISS_CHALLENGE" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
        </activity>

    </application>

</manifest>