<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forrestguice.suntimes.addonexample">

    <uses-permission android:name="suntimes.permission.READ_CALCULATOR" />  <!-- required to interact w/ Suntimes provider -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />  <!-- ... required to show crash notification -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ContentProviders are initialized first!
             Use `onCreate` to init the ExceptionHandler before other app components. -->
        <provider
            android:name="com.forrestguice.suntimes.addonexample.AppContentProvider"
            android:authorities="com.forrestguice.suntimes.addonexample.provider"
            android:exported="false"
            android:syncable="true"/>

        <!-- Crash Report Activity -->
        <activity android:name="com.forrestguice.suntimes.crashreport.ExceptionActivity"
            android:process=":crashreport"
            android:exported="false" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="SuntimesDismissChallengeID" android:value="9000" />
            <intent-filter>
                <action android:name="suntimes.action.DISMISS_CHALLENGE_CONFIG" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
        </activity>

        <activity android:name=".DismissChallengeActivity"
            android:exported="true">
            <meta-data android:name="SuntimesDismissChallengeTitle" android:value="Addon Alarm Challenge" />
            <meta-data android:name="SuntimesDismissChallengeID" android:value="9000" />
            <intent-filter>
                <action android:name="suntimes.action.DISMISS_CHALLENGE" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
        </activity>


        <activity android:name=".AlarmPickerActivity"
            android:exported="true">
            <meta-data android:name="SuntimesEventPickerTitle" android:value="Addon Event Picker" />
            <intent-filter>
                <action android:name="suntimes.action.PICK_EVENT" />
                <category android:name="suntimes.SUNTIMES_ADDON" />
            </intent-filter>
        </activity>

    </application>

</manifest>